@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

.one {
	width: 350px;
	height: 350px;
	border: 1px solid #CCCCCC;
	position: relative;
}

.one span {
	width: 175px;
	height: 175px;
	position: absolute;
	border: 1px solid #AFAFAF;
	top: 0;
	left: 0;
	display: none;
}

.one:hover span {
	display: block;
	background-image: url(../images/bg1.png)
}

.wai {
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.two {
	padding: 0 0 0 50px;
}

.two img {
	border: 1px solid #ccc;
}

.two .active {
	border: 1px solid red;
}

.two img:hover {
	border: 1px solid red;
}

.the {
	margin-top:20px;
	width: 400px;
	height: 400px;
	position: relative;
	float: left;
	overflow: hidden;
	border: 1px solid #969696;
	display: none;
}

.the img {
	position: absolute;
	display: block;
}